*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  overflow: hidden;
}
main{
  display: flex;
  gap: 1rem;
  padding: 20px;
  height: 100vh;
  background-color: rgb(48, 47, 47);
  box-sizing: border-box;
}
main .left-box p{
  padding: 10px 0;
  font-size: 18px;
}
main .left-box,main .right-box{
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
}
main .left-box{
  background-color: black;
  color: white;
  position: relative;
}
main .right-box{
background-color: gray;
color: black;
}
.left-box .code-part,.code-part pre .lang-javascript{
  width: 100%;
  margin: 0;
}
.left-box .review-btn button{
  background-color: rgb(227, 227, 241);
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  user-select: none;
  cursor: pointer;
}
.review-btn button:hover{
 background-color: rgb(157, 157, 172);
}

